version: '3.8'

services:
  # --- USER SERVICE ---
  user-services:
    build: ./user_services
    container_name: user_service
    restart: always
    ports:
      - "${USER_SERVICE_PORT}:3000"
    env_file:
      - .env
    environment:
      DATABASE_URL: ${USER_DATABASE_URL}
      JWT_SECRET: ${JWT_SECRET}
    depends_on:
      user_db:
        condition: service_healthy

  # --- USER DATABASE ---
  user_db:
    image: postgres:15-alpine
    container_name: user_db
    restart: always
    environment:
      POSTGRES_USER: ${USER_DB_USER}
      POSTGRES_PASSWORD: ${USER_DB_PASSWORD}
      POSTGRES_DB: ${USER_DB_NAME}
    volumes:
      - user-db-data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${USER_DB_USER} -d ${USER_DB_NAME}" ]
      interval: 10s
      timeout: 5s
      retries: 5

  # --- PGADMIN ---
  pg_admin:
    image: dpage/pgadmin4
    container_name: pg_admin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "8082:80"
    depends_on:
      - user_db

 # --- 2. PRODUCT SERVICE (Vanilla PHP + MySQL) ---
  product_service:
    build: ./product-service
    container_name: product_service
    restart: always
    ports:
      # Port luar (8000) diarahkan ke port dalam Apache (80)
      - "${PRODUCT_SERVICE_PORT}:80" 
    environment:
      - PRODUCT_DB_HOST=${PRODUCT_DB_HOST}
      - PRODUCT_DB_NAME=${PRODUCT_DB_NAME}
      - PRODUCT_DB_USER=${PRODUCT_DB_USER}
      - PRODUCT_DB_PASSWORD=${PRODUCT_DB_PASSWORD}
      - JWT_SECRET=${JWT_SECRET}
    depends_on:
      product-db:
        condition: service_healthy
    networks:
      - pos-network

  product-db:
    image: mysql:8.0
    container_name: product-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${PRODUCT_DB_PASSWORD}
      MYSQL_DATABASE: ${PRODUCT_DB_NAME}
    volumes:
      - product-db-data:/var/lib/mysql
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost" ]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - pos-network

  phpmyAdmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyAdmin
    restart: always
    ports:
      - "8081:80"
    environment:
      PMA_HOST: product-db
      PMA_USER: root
      PMA_PASSWORD: ${PRODUCT_DB_PASSWORD}
    depends_on:
      - product-db
    networks:
      - pos-network


 # --- 3. ORDER SERVICE (Java Spring Boot + MongoDB) ---

  order-service:
    build: ./order-service
    container_name: order-service
    restart: always
    ports:
      - "${ORDER_SERVICE_PORT}:8080"
    environment:
      - SPRING_DATA_MONGODB_URI=${ORDER_MONGO_URL}
      - JWT_SECRET=${JWT_SECRET}
    depends_on:
      - order-db
    networks:
      - pos-network

  order-db:
    image: mongo:latest
    container_name: order-db
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
    ports:
      - "27017:27017"
    volumes:
      - mongo-db-data:/data/db
    networks:
      - pos-network

  mongo_express:
    image: mongo-express:latest
    container_name: mongo_express
    restart: always
    environment:
      # Koneksi langsung menggunakan URL dari .env root
      - ME_CONFIG_MONGODB_URL=mongodb://${MONGO_INITDB_ROOT_USERNAME}:${MONGO_INITDB_ROOT_PASSWORD}@order-db:27017/?authSource=admin
      # Matikan login browser agar tidak ditanya user/pass dua kali
      - ME_CONFIG_BASICAUTH=false 
    ports:
      - "8084:8081"
    depends_on:
      - order-db
    networks:
      - pos-network

      
  # --- 4. REPORT SERVICE (Python + Redis) ---
  report-service:
    build: ./report-service
    container_name: report-service
    restart: always
    ports:
      - "${REPORT_SERVICE_PORT}:5000"
    environment:
      - REDIS_URL=${REPORT_REDIS_URL}
      - JWT_SECRET=${JWT_SECRET}
    depends_on:
      - report-cache
    networks:
      - pos-network

  report-cache:
    image: redis:alpine
    container_name: report-cache
    restart: always
    ports:
      - "6379:6379"
    networks:
      - pos-network

  redis_commander: # GUI untuk memantau isi Redis di browser
    image: rediscommander/redis-commander:latest
    container_name: redis_commander
    restart: always
    environment:
      - REDIS_HOSTS=local:report-cache:6379
    ports:
      - "8083:8081" # Akses dashboard di localhost:8083
    depends_on:
      - report-cache
    networks:
      - pos-network

volumes:
  user-db-data:
  product-db-data:
  mongo-db-data:

networks:
  pos-network:
    driver: bridge
